name: JFrog DevSecOps Pipeline
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
env:
      JF_URL: ${{ secrets.JF_URL }}
      JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
      MAVEN_REPO: "maven-virtual"
      SERVER_ID: "jfrog-instance" # We define a name for our server connection here
steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Configure Maven
        run: |
          # We add the --server-id-resolve and --server-id-deploy flags here
          jf mvn-config --server-id-resolve $SERVER_ID --server-id-deploy $SERVER_ID --repo-resolve-releases $MAVEN_REPO --repo-resolve-snapshots $MAVEN_REPO --repo-deploy-releases maven-local --repo-deploy-snapshots maven-local

      - name: Build and Test
        run: |
          # We tell the build command which server ID to use
          jf mvn clean install --server-id-res $SERVER_ID --server-id-deploy $SERVER_ID

