name: JFrog DevSecOps Pipeline
on:
  push:
    branches: [ main ]

jobs:
  build: # This is the job name
    runs-on: ubuntu-latest
    env:
      JF_URL: ${{ secrets.JF_URL }}
      JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
      MAVEN_REPO: "maven-virtual"
      SERVER_ID: "jfrog-instance"

    steps: # 'steps' must be indented exactly this far
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Configure and Build Maven
        run: |
          jf mvn-config --server-id-resolve $SERVER_ID --server-id-deploy $SERVER_ID --repo-resolve-releases $MAVEN_REPO --repo-resolve-snapshots $MAVEN_REPO --repo-deploy-releases maven-local --repo-deploy-snapshots maven-local
          jf mvn clean deploy --server-id-res $SERVER_ID --server-id-deploy $SERVER_ID
